<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="colorlib.com">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />
    <link href="stylesheets/style.css" rel="stylesheet" />
    <link rel="icon"  type="image/x-icon" href="images/favicon.png" sizes="16x16">

    <title><%= title %></title>

  </head>
  <body>
      <div>Quick start Expressjs</div>
    <script src="javascripts/main.js"></script>
  </body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>
